--index-url https://download.pytorch.org/whl/cu130
--extra-index-url https://pypi.org/simple
torch==2.13.0+cu130
torchvision==0.28.0+cu130
ultralytics==8.4.107
trackers==2.5.0.post0
supervision==0.30.1
ffmpegcv==0.3.18
